@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,500,600,700,800");

/* // --------- Demo Styles Only --------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.alert {
    position: relative;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #2d3a51;
    line-height: 1.4;
    width: 300px;
    position: fixed;
    top: 60px;
    right: 10px;
    z-index: 100;
    display: none;
}

.alert button.close {
    margin: 0.45rem 1rem;
    opacity: 0.75;
}

.alert button.close:hover {
    opacity: 1;
}

.alert-icon,
.alert-text {
    display: table-cell;
    vertical-align: middle;
}

.alert-icon {
    min-width: 40px;
    text-align: center;
    font-size: 2.2rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.25);
    padding: 1rem;
}

.alert-text {
    color: #2d3a51;
    padding: 2.4rem;
    width: 100%;
}

.alert-text>h4 {
    margin-top: 0;
    font-weight: 600;
}

.alert .alert-link {
    font-weight: normal;
    color: #4790e6;
}

.alert ul {
    margin: 0;
}

.alert ul li {
    margin-bottom: 0.2rem;
}

.alert ul:last-child {
    margin-bottom: 0;
}

.alert-success {
    background-color: lighten(#42ae42, 48%);
    border-color: lighten(#42ae42, 34%);
}

.alert-success .alert-text h4 {
    color: #42ae42;
}

.alert-success button.close {
    color: #42ae42;
}

.alert-success .alert-icon {
    background-color: #42ae42;
}